@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
}
main header {
    position: absolute;
    width: 100%;
    height: 90px;
    background: transparent;
}
main header .shape-divider-app {
    position: relative;
    width: 100%;
    height: 100%;
}
main header .shape-divider-app .custom-shape-divider-top-1680786992 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
main header .shape-divider-app .custom-shape-divider-top-1680786992 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}
main header .shape-divider-app .custom-shape-divider-top-1680786992 .shape-fill {
    fill: #fafafa;
}
main .main-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 500px;
    height: 400px;
    background: #fafafa;
    border-radius: 12px;
}
main .main-container .header-container {
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .main-container .header-container .title {
    font-size: 20px;
    font-weight: 600;
    color: #7367F0;
}
main .main-container .header-container .sub-title {
    font-size: 16px;
    font-weight: 600;
    color: #3E54AC;
    letter-spacing: 3px;
}
main .main-container .battery {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 320px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 0fr 1fr 0fr 1fr;
    grid-template-rows: repeat(2, 1fr) 0fr repeat(2, 1fr);
    column-gap: 5px;
}
main .main-container .battery .row-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-2 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-3 {
    grid-area: 1 / 5 / 2 / 6;
    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-4 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-5 {
    grid-area: 2 / 3 / 3 / 4;
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-6 {
    grid-area: 2 / 5 / 3 / 6;
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-7 {
    grid-area: 4 / 1 / 5 / 2;
    background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-8 {
    grid-area: 4 / 3 / 5 / 4;
    background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-9 {
    grid-area: 4 / 5 / 5 / 6;
    background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-10 {
    grid-area: 5 / 1 / 6 / 2;
    background-image: linear-gradient( 135deg, #FF96F9 10%, #C32BAC 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-11 {
    grid-area: 5 / 3 / 6 / 4;
    background-image: linear-gradient( 135deg, #FF96F9 10%, #C32BAC 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main .main-container .battery .row-12 {
    grid-area: 5 / 5 / 6 / 6;
    background-image: linear-gradient( 135deg, #FF96F9 10%, #C32BAC 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fafafa;
}
main footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
main footer input {
    padding: 10px 20px;
    border: 2px solid #000000;
    background: #fff;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}
main footer input:hover {
    background: #000000;
    color: #fff;
}
body {
    position: relative;
    height: 100vh;
    background: linear-gradient(to right, #0396FF, #EA5455, #7367F0, #F6416C, #9F44D3);
    background-size: 400% 400%;
    animation: animated-background 10s infinite ease-in-out;
}
@keyframes animated-background {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}