<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>MemesAwesome</title>
</head>
<body>
    <main>
        <header>
            <div class="shape-divider-app">
                <div class="custom-shape-divider-top-1680786992">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
                    </svg>
                </div>
            </div>
        </header>
        <div class="main-container">
            <div class="header-container">
                <span class="title">MemesAwesome</span>
                <span class="sub-title">Audio Library</span>
            </div>
            <div class="battery">
                <div class="row-1" id="meme-1">
                    <span>  MEME 1 </span>
                </div>
                <div class="row-2" id="meme-2">
                    <span>  MEME 2 </span>
                </div>
                <div class="row-3" id="meme-3">
                    <span>  MEME 3 </span>
                </div>
                <div class="row-4" id="meme-4">
                    <span>  MEME 4 </span>
                </div>
                <div class="row-5" id="meme-5">
                    <span>  MEME 5 </span>
                </div>
                <div class="row-6" id="meme-6">
                    <span>  MEME 6 </span>
                </div>
                <div class="row-7" id="meme-7">
                    <span>  MEME 7 </span>
                </div>
                <div class="row-8" id="meme-8">
                    <span>  MEME 8 </span>
                </div>
                <div class="row-9" id="meme-9">
                    <span>  MEME 9 </span>
                </div>
                <div class="row-10" id="meme-10">
                    <span>  MEME 10 </span>
                </div>
                <div class="row-11" id="meme-11">
                    <span>  MEME 11 </span>
                </div>
                <div class="row-12" id="meme-12">
                    <span>  MEME 12 </span>
                </div>
            </div>
            
        </div>
        <footer>
            <input type="submit" value="Stop Meme" id="stop-meme">
        </footer>
        <script src="/static/script.js" defer></script>
    </main> 
</body>
</html>